/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Define styles for header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Define styles for footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Main content styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* Define styles for columns */
.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
    background-color: #f9f9f9;
}

/* Add styles for the slideshow controls */
.slideshow-controls {
    text-align: center;
    margin-top: 10px;
}

/* Style the previous and next buttons */
.prevBtn, .nextBtn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
}

/* Position the previous button on the left and next button on the right */
.prevBtn {
    float: left;
}

.nextBtn {
    float: right;
}

/* Style the navigation buttons within the column */
.column nav button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

.column nav a {
    text-decoration: none;
    color: white;
}

/* Style the gallery images */
.gallery {
    display: none;
    max-width: 100%;
    height: auto;
}

/* Style the links in the "News" section */
.column h2 {
    font-size: 20px;
    margin-top: 10px;
}

.column p {
    margin-top: 10px;
}

.column a {
    text-decoration: none;
    color: #333;
}

div{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Responsive styling - adjust as needed */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        flex-basis: 100%;
    }
}
